In [175]:
import pandas as pd
import numpy as np

This is our target dataset of acoustic backscatter obtained for AZFP 200KHz.

In [176]:
df = pd.read_csv('acousticdata_full.csv')
df

,time,Depth_0_44_m,Depth_1_46_m,Depth_2_48_m,Depth_3_49_m,Depth_4_51_m,Depth_5_53_m,Depth_6_54_m,Depth_7_56_m,Depth_8_57_m,...,Depth_102_05_m,Depth_103_07_m,Depth_104_09_m,Depth_105_1_m,Depth_106_12_m,Depth_107_13_m,Depth_108_15_m,Depth_109_17_m,Depth_110_18_m,Depth_111_2_m
0,01-Jun-2008 00:15:29,-47.229147,-58.328660,-66.347907,-72.255351,-72.299619,-73.651890,-74.675276,-75.451301,-75.783738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-Jun-2008 00:16:29,-47.441458,-64.901972,-71.472803,-71.742175,-72.622550,-73.505556,-75.136568,-75.692786,-75.438832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-Jun-2008 00:17:29,-48.629115,-62.863936,-71.094367,-72.216207,-70.095253,-73.364304,-74.788028,-75.697173,-75.915158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-Jun-2008 00:18:29,-48.473870,-64.897092,-71.067079,-71.924105,-72.814569,-74.450888,-74.970985,-75.410405,-75.897116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-Jun-2008 00:19:29,-48.107256,-65.045247,-70.627282,-72.421747,-72.902219,-74.282549,-74.994556,-75.843154,-75.761130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072764,15-Jun-2010 23:39:29,-72.214400,-78.221805,-77.433047,-76.896363,-76.329513,-75.881310,-75.213931,-75.610360,-76.402552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072765,15-Jun-2010 23:40:29,-75.153008,-77.498671,-77.348826,-76.647100,-76.403040,-75.555975,-75.202395,-75.520297,-76.376085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072766,15-Jun-2010 23:41:29,-75.578527,-78.028658,-77.337026,-76.134971,-75.978290,-75.453325,-75.393194,-76.068413,-76.674175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072767,15-Jun-2010 23:42:29,-59.226269,-77.168422,-76.880347,-75.712467,-75.730838,-74.782369,-75.357787,-76.334747,-76.906350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072768,15-Jun-2010 23:43:29,-57.145161,-76.687232,-76.093465,-75.263231,-75.320904,-75.156451,-75.503667,-75.047774,-76.288626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
print(df.dtypes)

time               object
Depth_0_44_m      float64
Depth_1_46_m      float64
Depth_2_48_m      float64
Depth_3_49_m      float64
                   ...
Depth_107_13_m    float64
Depth_108_15_m    float64
Depth_109_17_m    float64
Depth_110_18_m    float64
Depth_111_2_m     float64
Length: 111, dtype: object

In [178]:
df["time"] = pd.to_datetime(df["time"], format="%d-%b-%Y %H:%M:%S")
df.set_index("time", inplace=True)

df_hourly = df.resample("h").mean()

In [179]:
df_hourly

,Depth_0_44_m,Depth_1_46_m,Depth_2_48_m,Depth_3_49_m,Depth_4_51_m,Depth_5_53_m,Depth_6_54_m,Depth_7_56_m,Depth_8_57_m,Depth_9_59_m,...,Depth_102_05_m,Depth_103_07_m,Depth_104_09_m,Depth_105_1_m,Depth_106_12_m,Depth_107_13_m,Depth_108_15_m,Depth_109_17_m,Depth_110_18_m,Depth_111_2_m
time,,,,,,,,,,,,,,,,,,,,,
2008-06-01 00:00:00,-46.045315,-54.929848,-69.194516,-72.720272,-72.889675,-73.888288,-74.777027,-75.385955,-75.729628,-75.915027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-01 01:00:00,-46.734838,-53.548931,-65.956931,-70.818964,-72.710505,-73.701327,-74.347466,-75.231326,-75.840317,-76.145359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-01 02:00:00,-48.510158,-59.875760,-69.774957,-71.365759,-71.956154,-72.735730,-73.822186,-74.694235,-75.082559,-75.265391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-01 03:00:00,-52.748802,-62.745512,-70.985302,-73.040143,-73.480235,-73.570422,-73.939155,-74.468083,-74.682199,-75.032044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-06-01 04:00:00,-58.147120,-68.164537,-71.814764,-72.488962,-72.451876,-72.327296,-72.685823,-72.535713,-72.254019,-72.139427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-06-15 19:00:00,-64.784405,-73.623425,-75.137602,-76.135977,-76.299000,-76.299432,-76.141739,-76.175680,-76.283646,-76.314141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-15 20:00:00,-68.219947,-74.495057,-75.437550,-76.829651,-77.386750,-77.515372,-77.353214,-77.160631,-77.084903,-77.031902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-15 21:00:00,-65.188132,-76.838170,-76.767113,-76.930986,-76.984329,-77.117700,-77.226050,-77.237569,-77.446850,-77.381279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-15 22:00:00,-64.465351,-78.263317,-78.232466,-78.213220,-77.842443,-77.655862,-77.650377,-77.698375,-77.767934,-77.696584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-15 23:00:00,-66.699116,-76.822053,-76.561905,-76.006931,-75.837853,-75.880194,-76.175971,-76.389696,-76.750081,-76.854511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
df_hourly.isna().sum()

Depth_0_44_m          0
Depth_1_46_m          0
Depth_2_48_m          0
Depth_3_49_m          0
Depth_4_51_m          0
                  ...
Depth_107_13_m    17880
Depth_108_15_m    17880
Depth_109_17_m    17880
Depth_110_18_m    17880
Depth_111_2_m     17880
Length: 110, dtype: int64

In [181]:
nan_cols = df_hourly.columns[df_hourly.isna().any()]
print(nan_cols)

Index(['Depth_90_88_m', 'Depth_91_89_m', 'Depth_92_91_m', 'Depth_93_93_m',
       'Depth_94_94_m', 'Depth_95_96_m', 'Depth_96_97_m', 'Depth_97_99_m',
       'Depth_99_01_m', 'Depth_100_02_m', 'Depth_101_04_m', 'Depth_102_05_m',
       'Depth_103_07_m', 'Depth_104_09_m', 'Depth_105_1_m', 'Depth_106_12_m',
       'Depth_107_13_m', 'Depth_108_15_m', 'Depth_109_17_m', 'Depth_110_18_m',
       'Depth_111_2_m'],
      dtype='object')

In [182]:
df_hourly = df_hourly.drop(df_hourly.columns[88:], axis=1)

In [183]:
df_hourly

,Depth_0_44_m,Depth_1_46_m,Depth_2_48_m,Depth_3_49_m,Depth_4_51_m,Depth_5_53_m,Depth_6_54_m,Depth_7_56_m,Depth_8_57_m,Depth_9_59_m,...,Depth_79_7_m,Depth_80_72_m,Depth_81_73_m,Depth_82_75_m,Depth_83_76_m,Depth_84_78_m,Depth_85_8_m,Depth_86_81_m,Depth_87_83_m,Depth_88_85_m
time,,,,,,,,,,,,,,,,,,,,,
2008-06-01 00:00:00,-46.045315,-54.929848,-69.194516,-72.720272,-72.889675,-73.888288,-74.777027,-75.385955,-75.729628,-75.915027,...,-79.639196,-78.509547,-76.605021,-76.084694,-74.992305,-74.160598,-71.683582,-70.017703,-68.921737,-67.429618
2008-06-01 01:00:00,-46.734838,-53.548931,-65.956931,-70.818964,-72.710505,-73.701327,-74.347466,-75.231326,-75.840317,-76.145359,...,-79.508385,-77.746824,-76.507087,-76.462948,-75.854725,-74.668810,-73.013616,-71.669439,-70.813671,-69.874398
2008-06-01 02:00:00,-48.510158,-59.875760,-69.774957,-71.365759,-71.956154,-72.735730,-73.822186,-74.694235,-75.082559,-75.265391,...,-74.414929,-74.018516,-73.453345,-73.402629,-72.947442,-71.820754,-71.423410,-69.969247,-69.220956,-67.402611
2008-06-01 03:00:00,-52.748802,-62.745512,-70.985302,-73.040143,-73.480235,-73.570422,-73.939155,-74.468083,-74.682199,-75.032044,...,-67.837688,-67.293762,-66.696794,-65.324073,-64.476765,-64.809727,-65.719470,-66.002539,-64.758260,-64.324921
2008-06-01 04:00:00,-58.147120,-68.164537,-71.814764,-72.488962,-72.451876,-72.327296,-72.685823,-72.535713,-72.254019,-72.139427,...,-73.315259,-72.288719,-71.441371,-71.825023,-73.806445,-75.493485,-78.059108,-77.340437,-76.212547,-78.498356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-06-15 19:00:00,-64.784405,-73.623425,-75.137602,-76.135977,-76.299000,-76.299432,-76.141739,-76.175680,-76.283646,-76.314141,...,-70.446122,-70.639796,-69.791852,-68.935973,-68.068930,-68.463341,-69.029694,-68.970323,-69.042484,-68.090650
2010-06-15 20:00:00,-68.219947,-74.495057,-75.437550,-76.829651,-77.386750,-77.515372,-77.353214,-77.160631,-77.084903,-77.031902,...,-70.736098,-70.974597,-70.190759,-70.175401,-70.008455,-70.009620,-69.681492,-68.887347,-68.411451,-67.954085
2010-06-15 21:00:00,-65.188132,-76.838170,-76.767113,-76.930986,-76.984329,-77.117700,-77.226050,-77.237569,-77.446850,-77.381279,...,-71.701533,-71.868381,-71.496818,-70.827325,-71.576198,-72.557930,-73.047959,-72.962870,-72.228757,-71.384615
2010-06-15 22:00:00,-64.465351,-78.263317,-78.232466,-78.213220,-77.842443,-77.655862,-77.650377,-77.698375,-77.767934,-77.696584,...,-71.525790,-70.982711,-69.610629,-69.608212,-69.390453,-68.999934,-68.858068,-70.729937,-72.893586,-72.466040
2010-06-15 23:00:00,-66.699116,-76.822053,-76.561905,-76.006931,-75.837853,-75.880194,-76.175971,-76.389696,-76.750081,-76.854511,...,-70.890436,-70.826837,-71.448622,-71.607745,-71.548486,-71.291955,-70.297548,-69.685862,-69.152158,-69.729479

In [184]:
nan_cols = df_hourly.columns[df_hourly.isna().any()]
print(nan_cols)

Index([], dtype='object')

In [185]:
df_hourly.isna().any()

Depth_0_44_m     False
Depth_1_46_m     False
Depth_2_48_m     False
Depth_3_49_m     False
Depth_4_51_m     False
                 ...
Depth_84_78_m    False
Depth_85_8_m     False
Depth_86_81_m    False
Depth_87_83_m    False
Depth_88_85_m    False
Length: 88, dtype: bool

### We will later convert this to binary based on threshold, and maybe try regression to predict the signal.

In [186]:
df_met2008 = pd.read_csv('Met2008.csv', low_memory=False)
df_met2008

,time,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
0,2008-01-01T00:30:00.000,6,31.0793,31.0545,31.1545,0.0296,99,0.003,1024.3283,1024.3126,...,23.9472,0.019,99,0.0019,9.2299,9.2075,9.2968,0.026,99,0.0026
1,2008-01-01T01:30:00.000,6,31.0972,31.0832,31.113,0.0092,97,0.0009,1024.3378,1024.3294,...,23.9206,0.006,97,0.0006,9.2484,9.2363,9.2626,0.0076,97,0.0008
2,2008-01-01T02:30:00.000,6,31.0837,31.0548,31.0952,0.0106,99,0.0011,1024.3295,1024.312,...,23.909,0.0065,99,0.0007,9.2352,9.2016,9.2462,0.0115,99,0.0012
3,2008-01-01T03:30:00.000,6,31.068,31.0591,31.089,0.0077,101,0.0008,1024.3201,1024.3148,...,23.905,0.0047,101,0.0005,9.221,9.208,9.2403,0.0088,101,0.0009
4,2008-01-01T04:30:00.000,6,31.0775,31.0507,31.1002,0.0125,102,0.0012,1024.327,1024.3107,...,23.9126,0.0078,102,0.0008,9.2278,9.1976,9.2477,0.0127,102,0.0013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2008-12-31T19:30:00.000,8,31.2064,31.1766,31.27,0.0211,60,0.0027,1024.4629,1024.4391,...,24.0632,0.0144,60,0.0019,9.0627,9.0133,9.1366,0.0258,60,0.0033
8780,2008-12-31T20:30:00.000,8,31.1746,31.1461,31.2434,0.0277,60,0.0036,1024.4448,1024.4274,...,24.0439,0.0145,60,0.0019,9.0117,8.9584,9.1183,0.0477,60,0.0062
8781,2008-12-31T21:30:00.000,8,31.2292,31.1659,31.2894,0.0501,60,0.0065,1024.4681,1024.4348,...,24.0632,0.0252,60,0.0032,9.1297,8.9903,9.2253,0.0927,60,0.012
8782,2008-12-31T22:30:00.000,8,31.249,31.1839,31.2921,0.0351,60,0.0045,1024.4741,1024.4367,...,24.0651,0.0207,60,0.0027,9.1876,9.0895,9.2286,0.0457,60,0.0059
8783,2008-12-31T23:30:00.000,8,31.2107,31.1777,31.2567,0.0289,60,0.0037,1024.4541,1024.4347,...,24.0433,0.0158,60,0.002,9.1244,9.0742,9.1903,0.0442,60,0.0057

In [187]:
df_met2008.dtypes

time                                  object
 Deloyment Number                     object
 Absolute Salinity Averaged Data      object
 Absolute Salinity Minimum            object
 Absolute Salinity Maximum            object
                                       ...
 Temperature Minimum                  object
 Temperature Maximum                  object
 Temperature Standard Deviation       object
 Temperature Number Data Averaged     object
 Temperature Standard Error           object
Length: 68, dtype: object

In [188]:
df_met2008["time"] = pd.to_datetime(df_met2008["time"], errors="coerce")
for c in df_met2008.columns:
    if c != "time":
        df_met2008[c] = pd.to_numeric(df_met2008[c], errors="coerce")

df_met2008 = df_met2008.set_index("time").sort_index()

dep_col = None
for c in df_met2008.columns:
    if c.strip() == "Deloyment Number":
        dep_col = c
        break

df_met2008_hourly = df_met2008.resample("h").mean(numeric_only=True)

full_idx = pd.date_range(df_met2008_hourly.index.min(),
                         df_met2008_hourly.index.max(), freq="h")
df_met2008_hourly = df_met2008_hourly.reindex(full_idx)
df_met2008_hourly.index.name = "time"

In [189]:
df_met2008_hourly

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2008-01-01 00:00:00,6.0,31.0793,31.0545,31.1545,0.0296,99.0,0.0030,1024.3283,1024.3126,1024.3755,...,23.9472,0.0190,99.0,0.0019,9.2299,9.2075,9.2968,0.0260,99.0,0.0026
2008-01-01 01:00:00,6.0,31.0972,31.0832,31.1130,0.0092,97.0,0.0009,1024.3378,1024.3294,1024.3486,...,23.9206,0.0060,97.0,0.0006,9.2484,9.2363,9.2626,0.0076,97.0,0.0008
2008-01-01 02:00:00,6.0,31.0837,31.0548,31.0952,0.0106,99.0,0.0011,1024.3295,1024.3120,1024.3366,...,23.9090,0.0065,99.0,0.0007,9.2352,9.2016,9.2462,0.0115,99.0,0.0012
2008-01-01 03:00:00,6.0,31.0680,31.0591,31.0890,0.0077,101.0,0.0008,1024.3201,1024.3148,1024.3338,...,23.9050,0.0047,101.0,0.0005,9.2210,9.2080,9.2403,0.0088,101.0,0.0009
2008-01-01 04:00:00,6.0,31.0775,31.0507,31.1002,0.0125,102.0,0.0012,1024.3270,1024.3107,1024.3420,...,23.9126,0.0078,102.0,0.0008,9.2278,9.1976,9.2477,0.0127,102.0,0.0013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-12-31 19:00:00,8.0,31.2064,31.1766,31.2700,0.0211,60.0,0.0027,1024.4629,1024.4391,1024.5024,...,24.0632,0.0144,60.0,0.0019,9.0627,9.0133,9.1366,0.0258,60.0,0.0033
2008-12-31 20:00:00,8.0,31.1746,31.1461,31.2434,0.0277,60.0,0.0036,1024.4448,1024.4274,1024.4820,...,24.0439,0.0145,60.0,0.0019,9.0117,8.9584,9.1183,0.0477,60.0,0.0062
2008-12-31 21:00:00,8.0,31.2292,31.1659,31.2894,0.0501,60.0,0.0065,1024.4681,1024.4348,1024.4998,...,24.0632,0.0252,60.0,0.0032,9.1297,8.9903,9.2253,0.0927,60.0,0.0120
2008-12-31 22:00:00,8.0,31.2490,31.1839,31.2921,0.0351,60.0,0.0045,1024.4741,1024.4367,1024.5015,...,24.0651,0.0207,60.0,0.0027,9.1876,9.0895,9.2286,0.0457,60.0,0.0059
2008-12-31 23:00:00,8.0,31.2107,31.1777,31.2567,0.0289,60.0,0.0037,1024.4541,1024.4347,1024.4798,...,24.0433,0.0158,60.0,0.0020,9.1244,9.0742,9.1903,0.0442,60.0,0.0057

In [190]:
if dep_col is not None:
    dep_hourly = (
        df_met2008[[dep_col]]
        .resample("h")
        .ffill()
        .reindex(full_idx)
    )
    dep_hourly[dep_col] = dep_hourly[dep_col].ffill().bfill()
    df_met2008_hourly[dep_col] = dep_hourly[dep_col]

In [191]:
num_cols = [c for c in df_met2008_hourly.columns if c != dep_col]
df_met2008_hourly[num_cols] = df_met2008_hourly[num_cols].interpolate(method="time", limit=6, limit_area="inside")

In [192]:
df_met2008_hourly = df_met2008_hourly.replace([np.inf, -np.inf], np.nan)
df_met2008_hourly = df_met2008_hourly.fillna(-1000)

In [193]:
print(df_met2008_hourly.isna().any().sum(), "columns still have NaN")
df_met2008_hourly

0 columns still have NaN

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2008-01-01 00:00:00,6.0,31.0793,31.0545,31.1545,0.0296,99.0,0.0030,1024.3283,1024.3126,1024.3755,...,23.9472,0.0190,99.0,0.0019,9.2299,9.2075,9.2968,0.0260,99.0,0.0026
2008-01-01 01:00:00,6.0,31.0972,31.0832,31.1130,0.0092,97.0,0.0009,1024.3378,1024.3294,1024.3486,...,23.9206,0.0060,97.0,0.0006,9.2484,9.2363,9.2626,0.0076,97.0,0.0008
2008-01-01 02:00:00,6.0,31.0837,31.0548,31.0952,0.0106,99.0,0.0011,1024.3295,1024.3120,1024.3366,...,23.9090,0.0065,99.0,0.0007,9.2352,9.2016,9.2462,0.0115,99.0,0.0012
2008-01-01 03:00:00,6.0,31.0680,31.0591,31.0890,0.0077,101.0,0.0008,1024.3201,1024.3148,1024.3338,...,23.9050,0.0047,101.0,0.0005,9.2210,9.2080,9.2403,0.0088,101.0,0.0009
2008-01-01 04:00:00,6.0,31.0775,31.0507,31.1002,0.0125,102.0,0.0012,1024.3270,1024.3107,1024.3420,...,23.9126,0.0078,102.0,0.0008,9.2278,9.1976,9.2477,0.0127,102.0,0.0013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-12-31 19:00:00,8.0,31.2064,31.1766,31.2700,0.0211,60.0,0.0027,1024.4629,1024.4391,1024.5024,...,24.0632,0.0144,60.0,0.0019,9.0627,9.0133,9.1366,0.0258,60.0,0.0033
2008-12-31 20:00:00,8.0,31.1746,31.1461,31.2434,0.0277,60.0,0.0036,1024.4448,1024.4274,1024.4820,...,24.0439,0.0145,60.0,0.0019,9.0117,8.9584,9.1183,0.0477,60.0,0.0062
2008-12-31 21:00:00,8.0,31.2292,31.1659,31.2894,0.0501,60.0,0.0065,1024.4681,1024.4348,1024.4998,...,24.0632,0.0252,60.0,0.0032,9.1297,8.9903,9.2253,0.0927,60.0,0.0120
2008-12-31 22:00:00,8.0,31.2490,31.1839,31.2921,0.0351,60.0,0.0045,1024.4741,1024.4367,1024.5015,...,24.0651,0.0207,60.0,0.0027,9.1876,9.0895,9.2286,0.0457,60.0,0.0059
2008-12-31 23:00:00,8.0,31.2107,31.1777,31.2567,0.0289,60.0,0.0037,1024.4541,1024.4347,1024.4798,...,24.0433,0.0158,60.0,0.0020,9.1244,9.0742,9.1903,0.0442,60.0,0.0057

In [194]:
df_met2008.dtypes

Deloyment Number                         float64
Absolute Salinity Averaged Data          float64
Absolute Salinity Minimum                float64
Absolute Salinity Maximum                float64
Absolute Salinity Standard Deviation     float64
                                          ...
Temperature Minimum                      float64
Temperature Maximum                      float64
Temperature Standard Deviation           float64
Temperature Number Data Averaged         float64
Temperature Standard Error               float64
Length: 67, dtype: object

In [195]:
df_met2009 = pd.read_csv('Met2009.csv', low_memory=False)
df_met2009

,time,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
0,2009-01-01T00:30:00.000,8,31.2276,31.1846,31.2712,0.0256,60,0.0033,1024.4634,1024.4363,...,24.0523,0.0149,60,0.0019,9.151,9.0816,9.2101,0.0359,60,0.0046
1,2009-01-01T01:30:00.000,8,31.1362,31.0998,31.1812,0.0274,60,0.0035,1024.4155,1024.3976,...,23.9975,0.0123,60,0.0016,9.0031,8.9151,9.1092,0.0609,60,0.0079
2,2009-01-01T02:30:00.000,8,31.2102,31.1029,31.2654,0.0607,60,0.0078,1024.4545,1024.3977,...,24.0484,0.0332,60,0.0043,9.1222,8.949,9.2021,0.092,60,0.0119
3,2009-01-01T03:30:00.000,8,31.1974,31.1558,31.2611,0.0298,60,0.0039,1024.4466,1024.4245,...,24.0465,0.0164,60,0.0021,9.1048,9.0323,9.1974,0.0468,60,0.006
4,2009-01-01T04:30:00.000,8,31.1803,31.1549,31.2147,0.0183,60,0.0024,1024.4355,1024.4191,...,24.0203,0.0114,60,0.0015,9.0828,9.0403,9.129,0.0212,60,0.0027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2009-12-31T19:30:00.000,10,31.1067,31.0895,31.1475,0.0148,60,0.0019,1024.3395,1024.3277,...,23.9325,0.0104,60,0.0013,9.3391,9.3287,9.3568,0.0071,60,0.0009
8756,2009-12-31T20:30:00.000,10,31.0872,31.0702,31.1058,0.0085,60,0.0011,1024.3265,1024.3153,...,23.9028,0.0058,60,0.0007,9.3275,9.3165,9.3393,0.0055,60,0.0007
8757,2009-12-31T21:30:00.000,10,31.0666,31.0479,31.0962,0.0118,60,0.0015,1024.3142,1024.3037,...,23.8966,0.0072,60,0.0009,9.3076,9.2808,9.3309,0.0128,60,0.0016
8758,2009-12-31T22:30:00.000,10,31.0472,31.0435,31.0516,0.0022,60,0.0003,1024.3031,1024.3006,...,23.8686,0.0014,60,0.0002,9.2841,9.2801,9.2948,0.0033,60,0.0004
8759,2009-12-31T23:30:00.000,10,31.0614,31.0467,31.0959,0.0111,60,0.0014,1024.3103,1024.2983,...,23.8973,0.0078,60,0.001,9.3067,9.2924,9.325,0.009,60,0.0012

In [196]:
df_met2009["time"] = pd.to_datetime(df_met2009["time"], errors="coerce")
for c in df_met2009.columns:
    if c != "time":
        df_met2009[c] = pd.to_numeric(df_met2009[c], errors="coerce")

df_met2009 = df_met2009.set_index("time").sort_index()

dep_col = None
for c in df_met2009.columns:
    if c.strip() == "Deloyment Number":
        dep_col = c
        break

df_met2009_hourly = df_met2009.resample("h").mean(numeric_only=True)

full_idx = pd.date_range(df_met2009_hourly.index.min(),
                         df_met2009_hourly.index.max(), freq="h")
df_met2009_hourly = df_met2009_hourly.reindex(full_idx)
df_met2009_hourly.index.name = "time"

In [197]:
if dep_col is not None:
    dep_hourly = (
        df_met2009[[dep_col]]
        .resample("h")
        .ffill()
        .reindex(full_idx)
    )
    dep_hourly[dep_col] = dep_hourly[dep_col].ffill().bfill()
    df_met2009_hourly[dep_col] = dep_hourly[dep_col]

In [198]:
num_cols = [c for c in df_met2009_hourly.columns if c != dep_col]
df_met2009_hourly[num_cols] = df_met2009_hourly[num_cols].interpolate(method="time", limit=6, limit_area="inside")

In [199]:
df_met2009_hourly = df_met2009_hourly.replace([np.inf, -np.inf], np.nan)
df_met2009_hourly = df_met2009_hourly.fillna(-1000)

In [200]:
print(df_met2009_hourly.isna().any().sum(), "columns still have NaN")
df_met2009_hourly

0 columns still have NaN

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2009-01-01 00:00:00,8.0,31.2276,31.1846,31.2712,0.0256,60.0,0.0033,1024.4634,1024.4363,1024.4890,...,24.0523,0.0149,60.0,0.0019,9.1510,9.0816,9.2101,0.0359,60.0,0.0046
2009-01-01 01:00:00,8.0,31.1362,31.0998,31.1812,0.0274,60.0,0.0035,1024.4155,1024.3976,1024.4346,...,23.9975,0.0123,60.0,0.0016,9.0031,8.9151,9.1092,0.0609,60.0,0.0079
2009-01-01 02:00:00,8.0,31.2102,31.1029,31.2654,0.0607,60.0,0.0078,1024.4545,1024.3977,1024.4851,...,24.0484,0.0332,60.0,0.0043,9.1222,8.9490,9.2021,0.0920,60.0,0.0119
2009-01-01 03:00:00,8.0,31.1974,31.1558,31.2611,0.0298,60.0,0.0039,1024.4466,1024.4245,1024.4832,...,24.0465,0.0164,60.0,0.0021,9.1048,9.0323,9.1974,0.0468,60.0,0.0060
2009-01-01 04:00:00,8.0,31.1803,31.1549,31.2147,0.0183,60.0,0.0024,1024.4355,1024.4191,1024.4558,...,24.0203,0.0114,60.0,0.0015,9.0828,9.0403,9.1290,0.0212,60.0,0.0027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-12-31 19:00:00,10.0,31.1067,31.0895,31.1475,0.0148,60.0,0.0019,1024.3395,1024.3277,1024.3684,...,23.9325,0.0104,60.0,0.0013,9.3391,9.3287,9.3568,0.0071,60.0,0.0009
2009-12-31 20:00:00,10.0,31.0872,31.0702,31.1058,0.0085,60.0,0.0011,1024.3265,1024.3153,1024.3389,...,23.9028,0.0058,60.0,0.0007,9.3275,9.3165,9.3393,0.0055,60.0,0.0007
2009-12-31 21:00:00,10.0,31.0666,31.0479,31.0962,0.0118,60.0,0.0015,1024.3142,1024.3037,1024.3333,...,23.8966,0.0072,60.0,0.0009,9.3076,9.2808,9.3309,0.0128,60.0,0.0016
2009-12-31 22:00:00,10.0,31.0472,31.0435,31.0516,0.0022,60.0,0.0003,1024.3031,1024.3006,1024.3058,...,23.8686,0.0014,60.0,0.0002,9.2841,9.2801,9.2948,0.0033,60.0,0.0004
2009-12-31 23:00:00,10.0,31.0614,31.0467,31.0959,0.0111,60.0,0.0014,1024.3103,1024.2983,1024.3344,...,23.8973,0.0078,60.0,0.0010,9.3067,9.2924,9.3250,0.0090,60.0,0.0012

In [201]:
df_met2010 = pd.read_csv('Met2010.csv', low_memory=False)
df_met2010

,time,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
0,2010-01-01T00:30:00.000,10,31.0384,31.0073,31.0713,0.0164,60,0.0021,1024.2945,1024.2799,...,23.8803,0.0087,60,0.0011,9.2849,9.2272,9.3207,0.0272,60,0.0035
1,2010-01-01T01:30:00.000,10,31.0344,31.0095,31.0628,0.0165,60,0.0021,1024.2904,1024.2759,...,23.8746,0.0093,60,0.0012,9.2761,9.2373,9.3063,0.0238,60,0.0031
2,2010-01-01T02:30:00.000,10,31.1375,31.0345,31.1765,0.0426,60,0.0055,1024.3579,1024.2894,...,23.9542,0.0282,60,0.0036,9.3369,9.2661,9.3637,0.0321,60,0.0041
3,2010-01-01T03:30:00.000,10,31.0869,31.0488,31.1588,0.029,60,0.0037,1024.3162,1024.2922,...,23.9409,0.0197,60,0.0025,9.3313,9.2879,9.3594,0.0213,60,0.0027
4,2010-01-01T04:30:00.000,10,31.0349,31.0104,31.0885,0.0178,60,0.0023,1024.2832,1024.273,...,23.8894,0.0087,60,0.0011,9.2651,9.2108,9.3385,0.0351,60,0.0045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2010-12-31T19:30:00.000,12,30.9736,30.9469,31.038,0.0255,60,0.0033,1024.2562,1024.2391,...,23.8616,0.0169,60,0.0022,9.2197,9.1953,9.266,0.0197,60,0.0025
8756,2010-12-31T20:30:00.000,12,30.9861,30.9436,31.0421,0.0233,60,0.003,1024.2651,1024.237,...,23.8662,0.0156,60,0.002,9.2248,9.1875,9.2604,0.0172,60,0.0022
8757,2010-12-31T21:30:00.000,12,30.999,30.9226,31.0914,0.0513,60,0.0066,1024.2737,1024.2232,...,23.8983,0.0338,60,0.0044,9.2285,9.1629,9.2977,0.0403,60,0.0052
8758,2010-12-31T22:30:00.000,12,30.8704,30.8056,30.9925,0.0497,60,0.0064,1024.1916,1024.1511,...,23.833,0.031,60,0.004,9.1025,9.0282,9.2205,0.052,60,0.0067
8759,2010-12-31T23:30:00.000,12,30.8501,30.8136,30.9594,0.032,60,0.0041,1024.1764,1024.1552,...,23.8222,0.0218,60,0.0028,9.0843,9.0341,9.1476,0.0298,60,0.0038

In [202]:
df_met2009.dtypes

Deloyment Number                         float64
Absolute Salinity Averaged Data          float64
Absolute Salinity Minimum                float64
Absolute Salinity Maximum                float64
Absolute Salinity Standard Deviation     float64
                                          ...
Temperature Minimum                      float64
Temperature Maximum                      float64
Temperature Standard Deviation           float64
Temperature Number Data Averaged         float64
Temperature Standard Error               float64
Length: 67, dtype: object

In [203]:
print(df_met2009_hourly.isna().any().sum(), "columns still have NaN")
df_met2009_hourly

0 columns still have NaN

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2009-01-01 00:00:00,8.0,31.2276,31.1846,31.2712,0.0256,60.0,0.0033,1024.4634,1024.4363,1024.4890,...,24.0523,0.0149,60.0,0.0019,9.1510,9.0816,9.2101,0.0359,60.0,0.0046
2009-01-01 01:00:00,8.0,31.1362,31.0998,31.1812,0.0274,60.0,0.0035,1024.4155,1024.3976,1024.4346,...,23.9975,0.0123,60.0,0.0016,9.0031,8.9151,9.1092,0.0609,60.0,0.0079
2009-01-01 02:00:00,8.0,31.2102,31.1029,31.2654,0.0607,60.0,0.0078,1024.4545,1024.3977,1024.4851,...,24.0484,0.0332,60.0,0.0043,9.1222,8.9490,9.2021,0.0920,60.0,0.0119
2009-01-01 03:00:00,8.0,31.1974,31.1558,31.2611,0.0298,60.0,0.0039,1024.4466,1024.4245,1024.4832,...,24.0465,0.0164,60.0,0.0021,9.1048,9.0323,9.1974,0.0468,60.0,0.0060
2009-01-01 04:00:00,8.0,31.1803,31.1549,31.2147,0.0183,60.0,0.0024,1024.4355,1024.4191,1024.4558,...,24.0203,0.0114,60.0,0.0015,9.0828,9.0403,9.1290,0.0212,60.0,0.0027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-12-31 19:00:00,10.0,31.1067,31.0895,31.1475,0.0148,60.0,0.0019,1024.3395,1024.3277,1024.3684,...,23.9325,0.0104,60.0,0.0013,9.3391,9.3287,9.3568,0.0071,60.0,0.0009
2009-12-31 20:00:00,10.0,31.0872,31.0702,31.1058,0.0085,60.0,0.0011,1024.3265,1024.3153,1024.3389,...,23.9028,0.0058,60.0,0.0007,9.3275,9.3165,9.3393,0.0055,60.0,0.0007
2009-12-31 21:00:00,10.0,31.0666,31.0479,31.0962,0.0118,60.0,0.0015,1024.3142,1024.3037,1024.3333,...,23.8966,0.0072,60.0,0.0009,9.3076,9.2808,9.3309,0.0128,60.0,0.0016
2009-12-31 22:00:00,10.0,31.0472,31.0435,31.0516,0.0022,60.0,0.0003,1024.3031,1024.3006,1024.3058,...,23.8686,0.0014,60.0,0.0002,9.2841,9.2801,9.2948,0.0033,60.0,0.0004
2009-12-31 23:00:00,10.0,31.0614,31.0467,31.0959,0.0111,60.0,0.0014,1024.3103,1024.2983,1024.3344,...,23.8973,0.0078,60.0,0.0010,9.3067,9.2924,9.3250,0.0090,60.0,0.0012

In [204]:
df_met2010["time"] = pd.to_datetime(df_met2010["time"], errors="coerce")
for c in df_met2010.columns:
    if c != "time":
        df_met2010[c] = pd.to_numeric(df_met2010[c], errors="coerce")


df_met2010 = df_met2010.set_index("time").sort_index()

dep_col = None
for c in df_met2010.columns:
    if c.strip() == "Deloyment Number":
        dep_col = c
        break
df_met2010_hourly = df_met2010.resample("h").mean(numeric_only=True)


full_idx = pd.date_range(df_met2010_hourly.index.min(),
                         df_met2010_hourly.index.max(), freq="h")
df_met2010_hourly = df_met2010_hourly.reindex(full_idx)
df_met2010_hourly.index.name = "time"

In [205]:
if dep_col is not None:
    dep_hourly = (
        df_met2010[[dep_col]]
        .resample("h")
        .ffill()
        .reindex(full_idx)
    )
    dep_hourly[dep_col] = dep_hourly[dep_col].ffill().bfill()
    df_met2010_hourly[dep_col] = dep_hourly[dep_col]

In [206]:
num_cols = [c for c in df_met2010_hourly.columns if c != dep_col]
df_met2010_hourly[num_cols] = df_met2010_hourly[num_cols].interpolate(
    method="time", limit=6, limit_area="inside")

In [207]:
df_met2010_hourly = df_met2010_hourly.replace([np.inf, -np.inf], np.nan)
df_met2010_hourly = df_met2010_hourly.fillna(-1000)

In [208]:
print(df_met2010_hourly.isna().any().sum(), "columns still have NaN")
df_met2010_hourly

0 columns still have NaN

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,10.0,31.0384,31.0073,31.0713,0.0164,60.0,0.0021,1024.2945,1024.2799,1024.3148,...,23.8803,0.0087,60.0,0.0011,9.2849,9.2272,9.3207,0.0272,60.0,0.0035
2010-01-01 01:00:00,10.0,31.0344,31.0095,31.0628,0.0165,60.0,0.0021,1024.2904,1024.2759,1024.3084,...,23.8746,0.0093,60.0,0.0012,9.2761,9.2373,9.3063,0.0238,60.0,0.0031
2010-01-01 02:00:00,10.0,31.1375,31.0345,31.1765,0.0426,60.0,0.0055,1024.3579,1024.2894,1024.3838,...,23.9542,0.0282,60.0,0.0036,9.3369,9.2661,9.3637,0.0321,60.0,0.0041
2010-01-01 03:00:00,10.0,31.0869,31.0488,31.1588,0.0290,60.0,0.0037,1024.3162,1024.2922,1024.3692,...,23.9409,0.0197,60.0,0.0025,9.3313,9.2879,9.3594,0.0213,60.0,0.0027
2010-01-01 04:00:00,10.0,31.0349,31.0104,31.0885,0.0178,60.0,0.0023,1024.2832,1024.2730,1024.3146,...,23.8894,0.0087,60.0,0.0011,9.2651,9.2108,9.3385,0.0351,60.0,0.0045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 19:00:00,12.0,30.9736,30.9469,31.0380,0.0255,60.0,0.0033,1024.2562,1024.2391,1024.2991,...,23.8616,0.0169,60.0,0.0022,9.2197,9.1953,9.2660,0.0197,60.0,0.0025
2010-12-31 20:00:00,12.0,30.9861,30.9436,31.0421,0.0233,60.0,0.0030,1024.2651,1024.2370,1024.3037,...,23.8662,0.0156,60.0,0.0020,9.2248,9.1875,9.2604,0.0172,60.0,0.0022
2010-12-31 21:00:00,12.0,30.9990,30.9226,31.0914,0.0513,60.0,0.0066,1024.2737,1024.2232,1024.3354,...,23.8983,0.0338,60.0,0.0044,9.2285,9.1629,9.2977,0.0403,60.0,0.0052
2010-12-31 22:00:00,12.0,30.8704,30.8056,30.9925,0.0497,60.0,0.0064,1024.1916,1024.1511,1024.2691,...,23.8330,0.0310,60.0,0.0040,9.1025,9.0282,9.2205,0.0520,60.0,0.0067
2010-12-31 23:00:00,12.0,30.8501,30.8136,30.9594,0.0320,60.0,0.0041,1024.1764,1024.1552,1024.2544,...,23.8222,0.0218,60.0,0.0028,9.0843,9.0341,9.1476,0.0298,60.0,0.0038

### We are now merging the dataset for evironmental data 2008-2010.

In [209]:
df_env_all = pd.concat([df_met2008_hourly, df_met2009_hourly, df_met2010_hourly],axis=0).sort_index()
df_env_all

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
time,,,,,,,,,,,,,,,,,,,,,
2008-01-01 00:00:00,6.0,31.0793,31.0545,31.1545,0.0296,99.0,0.0030,1024.3283,1024.3126,1024.3755,...,23.9472,0.0190,99.0,0.0019,9.2299,9.2075,9.2968,0.0260,99.0,0.0026
2008-01-01 01:00:00,6.0,31.0972,31.0832,31.1130,0.0092,97.0,0.0009,1024.3378,1024.3294,1024.3486,...,23.9206,0.0060,97.0,0.0006,9.2484,9.2363,9.2626,0.0076,97.0,0.0008
2008-01-01 02:00:00,6.0,31.0837,31.0548,31.0952,0.0106,99.0,0.0011,1024.3295,1024.3120,1024.3366,...,23.9090,0.0065,99.0,0.0007,9.2352,9.2016,9.2462,0.0115,99.0,0.0012
2008-01-01 03:00:00,6.0,31.0680,31.0591,31.0890,0.0077,101.0,0.0008,1024.3201,1024.3148,1024.3338,...,23.9050,0.0047,101.0,0.0005,9.2210,9.2080,9.2403,0.0088,101.0,0.0009
2008-01-01 04:00:00,6.0,31.0775,31.0507,31.1002,0.0125,102.0,0.0012,1024.3270,1024.3107,1024.3420,...,23.9126,0.0078,102.0,0.0008,9.2278,9.1976,9.2477,0.0127,102.0,0.0013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 19:00:00,12.0,30.9736,30.9469,31.0380,0.0255,60.0,0.0033,1024.2562,1024.2391,1024.2991,...,23.8616,0.0169,60.0,0.0022,9.2197,9.1953,9.2660,0.0197,60.0,0.0025
2010-12-31 20:00:00,12.0,30.9861,30.9436,31.0421,0.0233,60.0,0.0030,1024.2651,1024.2370,1024.3037,...,23.8662,0.0156,60.0,0.0020,9.2248,9.1875,9.2604,0.0172,60.0,0.0022
2010-12-31 21:00:00,12.0,30.9990,30.9226,31.0914,0.0513,60.0,0.0066,1024.2737,1024.2232,1024.3354,...,23.8983,0.0338,60.0,0.0044,9.2285,9.1629,9.2977,0.0403,60.0,0.0052
2010-12-31 22:00:00,12.0,30.8704,30.8056,30.9925,0.0497,60.0,0.0064,1024.1916,1024.1511,1024.2691,...,23.8330,0.0310,60.0,0.0040,9.1025,9.0282,9.2205,0.0520,60.0,0.0067
2010-12-31 23:00:00,12.0,30.8501,30.8136,30.9594,0.0320,60.0,0.0041,1024.1764,1024.1552,1024.2544,...,23.8222,0.0218,60.0,0.0028,9.0843,9.0341,9.1476,0.0298,60.0,0.0038

In [210]:
df_env_all.isna().any()

Deloyment Number                         False
Absolute Salinity Averaged Data          False
Absolute Salinity Minimum                False
Absolute Salinity Maximum                False
Absolute Salinity Standard Deviation     False
                                         ...
Temperature Minimum                      False
Temperature Maximum                      False
Temperature Standard Deviation           False
Temperature Number Data Averaged         False
Temperature Standard Error               False
Length: 67, dtype: bool

In [211]:
df_env_all.isna().sum()

Deloyment Number                         0
Absolute Salinity Averaged Data          0
Absolute Salinity Minimum                0
Absolute Salinity Maximum                0
Absolute Salinity Standard Deviation     0
                                        ..
Temperature Minimum                      0
Temperature Maximum                      0
Temperature Standard Deviation           0
Temperature Number Data Averaged         0
Temperature Standard Error               0
Length: 67, dtype: int64

In [212]:
df_env_all.to_csv('df_env_all.csv')

In [213]:
df_solar2008 = pd.read_csv('solar_2008.csv', low_memory=False)
df_solar2008

      Year  Month  Day  Hour  Count Minimum Average  StdDev Maximum
0     2008      1    1     0     60    0.00    0.00    0.00    0.00
1     2008      1    1     1     60    0.00    0.00    0.00    0.00
2     2008      1    1     2     60    0.00    0.00    0.00    0.00
3     2008      1    1     3     60    0.00    0.00    0.00    0.00
4     2008      1    1     4     60    0.00    0.00    0.00    0.00
...    ...    ...  ...   ...    ...     ...     ...     ...     ...
8778  2008     12   31    19     57    0.00    0.00    0.00    0.00
8779  2008     12   31    20     60    0.00    0.00    0.00    0.00
8780  2008     12   31    21     60    0.00    0.00    0.00    0.00
8781  2008     12   31    22     60    0.00    0.00    0.00    0.00
8782  2008     12   31    23     60    0.00    0.00    0.00    0.00

[8783 rows x 9 columns]

In [214]:
df_solar2008.isna().any()

Year       False
Month      False
Day        False
Hour       False
Count      False
Minimum    False
Average    False
StdDev     False
Maximum    False
dtype: bool

In [215]:
df_solar2009 = pd.read_csv('solar_2009.csv', low_memory=False)
df_solar2009

      Year  Month  Day  Hour  Count Minimum Average  StdDev Maximum
0     2009      1    1     0     60    0.00    0.00    0.00    0.00
1     2009      1    1     1     60    0.00    0.00    0.00    0.00
2     2009      1    1     2     60    0.00    0.00    0.00    0.00
3     2009      1    1     3     60    0.00    0.00    0.00    0.00
4     2009      1    1     4     60    0.00    0.00    0.00    0.00
...    ...    ...  ...   ...    ...     ...     ...     ...     ...
8754  2009     12   31    19     60    0.00    0.00    0.00    0.00
8755  2009     12   31    20     60    0.00    0.00    0.00    0.00
8756  2009     12   31    21     60    0.00    0.00    0.00    0.00
8757  2009     12   31    22     60    0.00    0.00    0.00    0.00
8758  2009     12   31    23     60    0.00    0.00    0.00    0.00

[8759 rows x 9 columns]

In [216]:
df_solar2010 = pd.read_csv('solar_2010.csv', low_memory=False)
df_solar2010

      Year  Month  Day  Hour  Count Minimum Average  StdDev Maximum
0     2010      1    1     0     60    0.00    0.00    0.00    0.00
1     2010      1    1     1     60    0.00    0.00    0.00    0.00
2     2010      1    1     2     60    0.00    0.00    0.00    0.00
3     2010      1    1     3     60    0.00    0.00    0.00    0.00
4     2010      1    1     4     60    0.00    0.00    0.00    0.00
...    ...    ...  ...   ...    ...     ...     ...     ...     ...
8754  2010     12   31    19     60    0.00    0.00    0.00    0.00
8755  2010     12   31    20     60    0.00    0.00    0.00    0.00
8756  2010     12   31    21     60    0.00    0.00    0.00    0.00
8757  2010     12   31    22     60    0.00    0.00    0.00    0.00
8758  2010     12   31    23     60    0.00    0.00    0.00    0.00

[8759 rows x 9 columns]

In [217]:
df_solar_all = pd.concat([df_solar2008, df_solar2009, df_solar2010],axis=0).sort_index()
df_solar_all

      Year  Month  Day  Hour  Count Minimum Average  StdDev Maximum
0     2008      1    1     0     60    0.00    0.00    0.00    0.00
0     2010      1    1     0     60    0.00    0.00    0.00    0.00
0     2009      1    1     0     60    0.00    0.00    0.00    0.00
1     2008      1    1     1     60    0.00    0.00    0.00    0.00
1     2010      1    1     1     60    0.00    0.00    0.00    0.00
...    ...    ...  ...   ...    ...     ...     ...     ...     ...
8778  2008     12   31    19     57    0.00    0.00    0.00    0.00
8779  2008     12   31    20     60    0.00    0.00    0.00    0.00
8780  2008     12   31    21     60    0.00    0.00    0.00    0.00
8781  2008     12   31    22     60    0.00    0.00    0.00    0.00
8782  2008     12   31    23     60    0.00    0.00    0.00    0.00

[26301 rows x 9 columns]

In [218]:
df_solar_all.isna().any()

Year       False
Month      False
Day        False
Hour       False
Count      False
Minimum    False
Average    False
StdDev     False
Maximum    False
dtype: bool

In [219]:
df_env_all = df_env_all.copy()
df_env_all["Year"]  = df_env_all.index.year
df_env_all["Month"] = df_env_all.index.month
df_env_all["Day"]   = df_env_all.index.day
df_env_all["Hour"]  = df_env_all.index.hour
df_env_all

,Deloyment Number,Absolute Salinity Averaged Data,Absolute Salinity Minimum,Absolute Salinity Maximum,Absolute Salinity Standard Deviation,Absolute Salinity Number Data Averaged,Absolute Salinity Standard Error,Density Averaged Data,Density Minimum,Density Maximum,...,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error,Year,Month,Day,Hour
time,,,,,,,,,,,,,,,,,,,,,
2008-01-01 00:00:00,6.0,31.0793,31.0545,31.1545,0.0296,99.0,0.0030,1024.3283,1024.3126,1024.3755,...,9.2299,9.2075,9.2968,0.0260,99.0,0.0026,2008,1,1,0
2008-01-01 01:00:00,6.0,31.0972,31.0832,31.1130,0.0092,97.0,0.0009,1024.3378,1024.3294,1024.3486,...,9.2484,9.2363,9.2626,0.0076,97.0,0.0008,2008,1,1,1
2008-01-01 02:00:00,6.0,31.0837,31.0548,31.0952,0.0106,99.0,0.0011,1024.3295,1024.3120,1024.3366,...,9.2352,9.2016,9.2462,0.0115,99.0,0.0012,2008,1,1,2
2008-01-01 03:00:00,6.0,31.0680,31.0591,31.0890,0.0077,101.0,0.0008,1024.3201,1024.3148,1024.3338,...,9.2210,9.2080,9.2403,0.0088,101.0,0.0009,2008,1,1,3
2008-01-01 04:00:00,6.0,31.0775,31.0507,31.1002,0.0125,102.0,0.0012,1024.3270,1024.3107,1024.3420,...,9.2278,9.1976,9.2477,0.0127,102.0,0.0013,2008,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 19:00:00,12.0,30.9736,30.9469,31.0380,0.0255,60.0,0.0033,1024.2562,1024.2391,1024.2991,...,9.2197,9.1953,9.2660,0.0197,60.0,0.0025,2010,12,31,19
2010-12-31 20:00:00,12.0,30.9861,30.9436,31.0421,0.0233,60.0,0.0030,1024.2651,1024.2370,1024.3037,...,9.2248,9.1875,9.2604,0.0172,60.0,0.0022,2010,12,31,20
2010-12-31 21:00:00,12.0,30.9990,30.9226,31.0914,0.0513,60.0,0.0066,1024.2737,1024.2232,1024.3354,...,9.2285,9.1629,9.2977,0.0403,60.0,0.0052,2010,12,31,21
2010-12-31 22:00:00,12.0,30.8704,30.8056,30.9925,0.0497,60.0,0.0064,1024.1916,1024.1511,1024.2691,...,9.1025,9.0282,9.2205,0.0520,60.0,0.0067,2010,12,31,22
2010-12-31 23:00:00,12.0,30.8501,30.8136,30.9594,0.0320,60.0,0.0041,1024.1764,1024.1552,1024.2544,...,9.0843,9.0341,9.1476,0.0298,60.0,0.0038,2010,12,31,23

We are decomposing the time, so we use these features to learn possible seasonal and daily pattern.

In [220]:
df_env_final = pd.merge(df_solar_all, df_env_all.reset_index(), on=["Year","Month","Day","Hour"], how="inner")
df_env_final

,Year,Month,Day,Hour,Count,Minimum,Average,StdDev,Maximum,time,...,Sigma theta 0 dbar Maximum,Sigma theta 0 dbar Standard Deviation,Sigma theta 0 dbar Number Data Averaged,Sigma theta 0 dbar Standard Error,Temperature Averaged Data,Temperature Minimum,Temperature Maximum,Temperature Standard Deviation,Temperature Number Data Averaged,Temperature Standard Error
0,2008,1,1,0,60,0.00,0.00,0.00,0.00,2008-01-01 00:00:00,...,23.9472,0.0190,99.0,0.0019,9.2299,9.2075,9.2968,0.0260,99.0,0.0026
1,2010,1,1,0,60,0.00,0.00,0.00,0.00,2010-01-01 00:00:00,...,23.8803,0.0087,60.0,0.0011,9.2849,9.2272,9.3207,0.0272,60.0,0.0035
2,2009,1,1,0,60,0.00,0.00,0.00,0.00,2009-01-01 00:00:00,...,24.0523,0.0149,60.0,0.0019,9.1510,9.0816,9.2101,0.0359,60.0,0.0046
3,2008,1,1,1,60,0.00,0.00,0.00,0.00,2008-01-01 01:00:00,...,23.9206,0.0060,97.0,0.0006,9.2484,9.2363,9.2626,0.0076,97.0,0.0008
4,2010,1,1,1,60,0.00,0.00,0.00,0.00,2010-01-01 01:00:00,...,23.8746,0.0093,60.0,0.0012,9.2761,9.2373,9.3063,0.0238,60.0,0.0031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26296,2008,12,31,19,57,0.00,0.00,0.00,0.00,2008-12-31 19:00:00,...,24.0632,0.0144,60.0,0.0019,9.0627,9.0133,9.1366,0.0258,60.0,0.0033
26297,2008,12,31,20,60,0.00,0.00,0.00,0.00,2008-12-31 20:00:00,...,24.0439,0.0145,60.0,0.0019,9.0117,8.9584,9.1183,0.0477,60.0,0.0062
26298,2008,12,31,21,60,0.00,0.00,0.00,0.00,2008-12-31 21:00:00,...,24.0632,0.0252,60.0,0.0032,9.1297,8.9903,9.2253,0.0927,60.0,0.0120
26299,2008,12,31,22,60,0.00,0.00,0.00,0.00,2008-12-31 22:00:00,...,24.0651,0.0207,60.0,0.0027,9.1876,9.0895,9.2286,0.0457,60.0,0.0059
26300,2008,12,31,23,60,0.00,0.00,0.00,0.00,2008-12-31 23:00:00,...,24.0433,0.0158,60.0,0.0020,9.1244,9.0742,9.1903,0.0442,60.0,0.0057

In [221]:
df_env_final.isna().sum()

Year                                  0
Month                                 0
Day                                   0
Hour                                  0
Count                                 0
                                     ..
 Temperature Minimum                  0
 Temperature Maximum                  0
 Temperature Standard Deviation       0
 Temperature Number Data Averaged     0
 Temperature Standard Error           0
Length: 77, dtype: int64

In [222]:
df_env_final.isna().sum()

Year                                  0
Month                                 0
Day                                   0
Hour                                  0
Count                                 0
                                     ..
 Temperature Minimum                  0
 Temperature Maximum                  0
 Temperature Standard Deviation       0
 Temperature Number Data Averaged     0
 Temperature Standard Error           0
Length: 77, dtype: int64

In [223]:
print(df_env_final.columns)

Index(['Year', 'Month', 'Day', 'Hour', 'Count', 'Minimum', 'Average', 'StdDev',
       'Maximum', 'time', ' Deloyment Number ',
       ' Absolute Salinity Averaged Data ', ' Absolute Salinity Minimum ',
       ' Absolute Salinity Maximum ', ' Absolute Salinity Standard Deviation ',
       ' Absolute Salinity Number Data Averaged ',
       ' Absolute Salinity Standard Error ', ' Density Averaged Data ',
       ' Density Minimum ', ' Density Maximum ',
       ' Density Standard Deviation ', ' Density Number Data Averaged ',
       ' Density Standard Error ', ' Oxygen Concentration mll Averaged Data ',
       ' Oxygen Concentration mll Minimum ',
       ' Oxygen Concentration mll Maximum ',
       ' Oxygen Concentration mll Standard Deviation ',
       ' Oxygen Concentration mll Number Data Averaged ',
       ' Oxygen Concentration mll Standard Error ',
       ' Oxygen Concentration umolkg Averaged Data ',
       ' Oxygen Concentration umolkg Minimum ',
       ' Oxygen Concentration umolkg Maximum ',
       ' Oxygen Concentration umolkg Standard Deviation ',
       ' Oxygen Concentration umolkg Number Data Averaged ',
       ' Oxygen Concentration umolkg Standard Error ',
       ' Potential Temperature 0 db Averaged Data ',
       ' Potential Temperature 0 db Minimum ',
       ' Potential Temperature 0 db Maximum ',
       ' Potential Temperature 0 db Standard Deviation ',
       ' Potential Temperature 0 db Number Data Averaged ',
       ' Potential Temperature 0 db Standard Error ',
       ' Practical Salinity Averaged Data ', ' Practical Salinity Minimum ',
       ' Practical Salinity Maximum ',
       ' Practical Salinity Standard Deviation ',
       ' Practical Salinity Number Data Averaged ',
       ' Practical Salinity Standard Error ', ' Pressure Averaged Data ',
       ' Pressure Minimum ', ' Pressure Maximum ',
       ' Pressure Standard Deviation ', ' Pressure Number Data Averaged ',
       ' Pressure Standard Error ', ' Pressure leveled Averaged Data ',
       ' Pressure leveled Minimum ', ' Pressure leveled Maximum ',
       ' Pressure leveled Standard Deviation ',
       ' Pressure leveled Number Data Averaged ',
       ' Pressure leveled Standard Error ', ' Sigma t Averaged Data ',
       ' Sigma t Minimum ', ' Sigma t Maximum ',
       ' Sigma t Standard Deviation ', ' Sigma t Number Data Averaged ',
       ' Sigma t Standard Error ', ' Sigma theta 0 dbar Averaged Data ',
       ' Sigma theta 0 dbar Minimum ', ' Sigma theta 0 dbar Maximum ',
       ' Sigma theta 0 dbar Standard Deviation ',
       ' Sigma theta 0 dbar Number Data Averaged ',
       ' Sigma theta 0 dbar Standard Error ', ' Temperature Averaged Data ',
       ' Temperature Minimum ', ' Temperature Maximum ',
       ' Temperature Standard Deviation ',
       ' Temperature Number Data Averaged ', ' Temperature Standard Error'],
      dtype='object')

In [224]:
safe_cols = [                 
    ' Absolute Salinity Averaged Data ',
    ' Practical Salinity Averaged Data ',
    ' Temperature Averaged Data ',
    ' Potential Temperature 0 db Averaged Data ',
    ' Density Averaged Data ',
    ' Sigma t Averaged Data ',
    ' Sigma theta 0 dbar Averaged Data ',
    ' Pressure Averaged Data ',
    ' Pressure leveled Averaged Data ',
    ' Oxygen Concentration mll Averaged Data '   
]

In [225]:
DEP_COL = ' Deloyment Number '
tv_cols = [c for c in safe_cols if c != DEP_COL]

horizons = [1, 3, 6, 12, 24, 48, 72]
momentum_pairs = [(1, 24), (3, 24), (6, 24)]
pct_horizons = [1, 24]

feature_blocks = []


base = df_env_all[[DEP_COL] + tv_cols].copy()
feature_blocks.append(base)


lag_feats = {}
for col in tv_cols:
    base_clean = col.strip()
    for h in horizons:
        lag_feats[f"{base_clean}_lag{h}h"] = df_env_all[col].shift(h)
feature_blocks.append(pd.DataFrame(lag_feats, index=df_env_all.index))


delta_feats = {}
for col in tv_cols:
    base_clean = col.strip()
    for h in horizons:
        lag_col = f"{base_clean}_lag{h}h"
        delta_feats[f"{base_clean}_delta{h}h"] = df_env_all[col] - feature_blocks[1][lag_col]
feature_blocks.append(pd.DataFrame(delta_feats, index=df_env_all.index))


momentum_feats = {}
for col in tv_cols:
    base_clean = col.strip()
    for h1, h2 in momentum_pairs:
        c1 = f"{base_clean}_lag{h1}h"
        c2 = f"{base_clean}_lag{h2}h"
        momentum_feats[f"{base_clean}_delta{h1}to{h2}h"] = feature_blocks[1][c1] - feature_blocks[1][c2]
feature_blocks.append(pd.DataFrame(momentum_feats, index=df_env_all.index))


pct_feats = {}
eps = 1e-12
for col in tv_cols:
    base_clean = col.strip()
    for h in pct_horizons:
        lag_col = f"{base_clean}_lag{h}h"
        lag_vals = feature_blocks[1][lag_col].values
        x_vals   = df_env_all[col].values
        denom = np.maximum(np.abs(lag_vals), eps)
        pct_feats[f"{base_clean}_pctDelta{h}h"] = (x_vals - lag_vals) / denom
feature_blocks.append(pd.DataFrame(pct_feats, index=df_env_all.index))



df_env_all = pd.concat(feature_blocks, axis=1)

df_env_all = df_env_all.iloc[max(horizons):].copy()

In [226]:
df_env_all

,Deloyment Number,Absolute Salinity Averaged Data,Practical Salinity Averaged Data,Temperature Averaged Data,Potential Temperature 0 db Averaged Data,Density Averaged Data,Sigma t Averaged Data,Sigma theta 0 dbar Averaged Data,Pressure Averaged Data,Pressure leveled Averaged Data,...,Sigma t Averaged Data_pctDelta1h,Sigma t Averaged Data_pctDelta24h,Sigma theta 0 dbar Averaged Data_pctDelta1h,Sigma theta 0 dbar Averaged Data_pctDelta24h,Pressure Averaged Data_pctDelta1h,Pressure Averaged Data_pctDelta24h,Pressure leveled Averaged Data_pctDelta1h,Pressure leveled Averaged Data_pctDelta24h,Oxygen Concentration mll Averaged Data_pctDelta1h,Oxygen Concentration mll Averaged Data_pctDelta24h
time,,,,,,,,,,,,,,,,,,,,,
2008-01-04 00:00:00,6.0,31.1231,30.9734,9.2620,9.2521,1024.3585,23.9267,23.9282,94.6446,95.6525,...,0.001847,0.003119,0.001846,0.003119,-0.004314,0.003981,-0.004270,0.003938,-0.275741,-0.395782
2008-01-04 01:00:00,6.0,31.0953,30.9458,9.2367,9.2269,1024.3391,23.9090,23.9105,94.2351,95.2431,...,-0.000740,0.003130,-0.000740,0.003130,-0.004327,0.003473,-0.004280,0.003436,0.139510,-0.364885
2008-01-04 02:00:00,6.0,31.1147,30.9650,9.2549,9.2451,1024.3498,23.9212,23.9227,93.9334,94.9413,...,0.000510,0.004316,0.000510,0.004320,-0.003202,0.002732,-0.003169,0.002703,-0.097202,-0.471585
2008-01-04 03:00:00,6.0,31.1230,30.9734,9.2628,9.2531,1024.3544,23.9265,23.9280,93.7768,94.7847,...,0.000222,0.001105,0.000222,0.001105,-0.001667,0.001784,-0.001649,0.001764,-0.037337,-0.165836
2008-01-04 04:00:00,6.0,31.1229,30.9733,9.2606,9.2508,1024.3546,23.9268,23.9283,93.7592,94.7671,...,0.000013,0.003565,0.000013,0.003565,-0.000188,0.000210,-0.000186,0.000207,-0.002439,-0.409927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-31 19:00:00,12.0,30.9736,30.8246,9.2197,9.2097,1024.2562,23.8169,23.8184,96.2411,97.1621,...,-0.001501,-0.000361,-0.001501,-0.000365,0.000940,-0.001101,0.000931,-0.001091,0.222752,-0.136555
2010-12-31 20:00:00,12.0,30.9861,30.8371,9.2248,9.2149,1024.2651,23.8259,23.8274,96.2247,97.1458,...,0.000378,0.001564,0.000378,0.001564,-0.000170,0.000121,-0.000168,0.000119,0.053164,-0.348249
2010-12-31 21:00:00,12.0,30.9990,30.8499,9.2285,9.2185,1024.2737,23.8353,23.8368,96.0454,96.9665,...,0.000395,0.001647,0.000395,0.001647,-0.001863,0.001849,-0.001846,0.001833,-0.005326,-0.336551
2010-12-31 22:00:00,12.0,30.8704,30.7219,9.1025,9.0927,1024.1916,23.7546,23.7561,95.6700,96.5910,...,-0.003386,-0.001446,-0.003386,-0.001446,-0.003909,0.002760,-0.003872,0.002732,0.374927,-0.076755
2010-12-31 23:00:00,12.0,30.8501,30.7017,9.0843,9.0745,1024.1764,23.7416,23.7431,95.1834,96.1044,...,-0.000547,-0.001338,-0.000547,-0.001338,-0.005086,0.003382,-0.005038,0.003349,0.473756,0.349667

In [227]:
print(df_env_all.columns)

Index([' Deloyment Number ', ' Absolute Salinity Averaged Data ',
       ' Practical Salinity Averaged Data ', ' Temperature Averaged Data ',
       ' Potential Temperature 0 db Averaged Data ', ' Density Averaged Data ',
       ' Sigma t Averaged Data ', ' Sigma theta 0 dbar Averaged Data ',
       ' Pressure Averaged Data ', ' Pressure leveled Averaged Data ',
       ...
       'Sigma t Averaged Data_pctDelta1h', 'Sigma t Averaged Data_pctDelta24h',
       'Sigma theta 0 dbar Averaged Data_pctDelta1h',
       'Sigma theta 0 dbar Averaged Data_pctDelta24h',
       'Pressure Averaged Data_pctDelta1h',
       'Pressure Averaged Data_pctDelta24h',
       'Pressure leveled Averaged Data_pctDelta1h',
       'Pressure leveled Averaged Data_pctDelta24h',
       'Oxygen Concentration mll Averaged Data_pctDelta1h',
       'Oxygen Concentration mll Averaged Data_pctDelta24h'],
      dtype='object', length=201)

In [228]:
df_env_all.isna().any()

 Deloyment Number                                     False
 Absolute Salinity Averaged Data                      False
 Practical Salinity Averaged Data                     False
 Temperature Averaged Data                            False
 Potential Temperature 0 db Averaged Data             False
                                                      ...
Pressure Averaged Data_pctDelta24h                    False
Pressure leveled Averaged Data_pctDelta1h             False
Pressure leveled Averaged Data_pctDelta24h            False
Oxygen Concentration mll Averaged Data_pctDelta1h     False
Oxygen Concentration mll Averaged Data_pctDelta24h    False
Length: 201, dtype: bool

In [229]:
na_cols = df_env_all.isna().any()
print(na_cols[na_cols].index.tolist())

[]

In [230]:
df_env_all.isna().any()

 Deloyment Number                                     False
 Absolute Salinity Averaged Data                      False
 Practical Salinity Averaged Data                     False
 Temperature Averaged Data                            False
 Potential Temperature 0 db Averaged Data             False
                                                      ...
Pressure Averaged Data_pctDelta24h                    False
Pressure leveled Averaged Data_pctDelta1h             False
Pressure leveled Averaged Data_pctDelta24h            False
Oxygen Concentration mll Averaged Data_pctDelta1h     False
Oxygen Concentration mll Averaged Data_pctDelta24h    False
Length: 201, dtype: bool

### Lets reduce the dimension of target to make this things simple and that makes sense both for data science and oceanography bioligical phenomena.

In [231]:
import re
def parse_depth(col):
    m = re.search(r"(\d+)_m$", col)
    return float(m.group(1)) if m else None

depths = {col: parse_depth(col) for col in df_hourly.columns}

depth_cols_valid = [c for c, d in depths.items() if d is not None]
depth_cols_sorted = sorted(depth_cols_valid, key=lambda c: depths[c])

In [232]:
def depth_val(c): return depths[c]

surface_cols = [c for c in depth_cols_sorted if depth_val(c) <= 20]
thermo_cols  = [c for c in depth_cols_sorted if 20 < depth_val(c) <= 40]
mid_cols     = [c for c in depth_cols_sorted if 40 < depth_val(c) <= 60]
deep_cols    = [c for c in depth_cols_sorted if 60 < depth_val(c) <= 85]

In [233]:
df_targets = pd.DataFrame(index=df_hourly.index)
df_targets["surface_mean"]     = df_hourly[surface_cols].mean(axis=1)
df_targets["thermocline_mean"] = df_hourly[thermo_cols].mean(axis=1)
df_targets["mid_mean"]         = df_hourly[mid_cols].mean(axis=1)
df_targets["deep_mean"]        = df_hourly[deep_cols].mean(axis=1)

df_targets["delta_surface_thermo"] = df_targets["surface_mean"]     - df_targets["thermocline_mean"]
df_targets["delta_thermo_mid"]     = df_targets["thermocline_mean"] - df_targets["mid_mean"]
df_targets["delta_mid_deep"]       = df_targets["mid_mean"]         - df_targets["deep_mean"]

In [234]:
df_deltas = df_hourly[depth_cols_sorted].diff(axis=1).iloc[:, 1:]
df_deltas.columns = [
    f"delta_{depth_cols_sorted[i-1]}_{depth_cols_sorted[i]}"
    for i in range(1, len(depth_cols_sorted))
]

In [235]:
df_deltas = df_hourly[depth_cols_sorted].diff(axis=1).iloc[:, 1:]
df_deltas.columns = [
    f"delta_{depth_cols_sorted[i-1]}_{depth_cols_sorted[i]}"
    for i in range(1, len(depth_cols_sorted))
]

In [236]:
var = df_deltas.var()
q = 0.30  # keep ~80% most variable; adjust (e.g., 0.3 to keep 70%)
keep = var[var > var.quantile(q)].index
df_deltas = df_deltas[keep]

In [237]:
corr = df_deltas.corr().abs()
upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
to_drop = [c for c in upper.columns if (upper[c] > 0.90).any()]
df_deltas = df_deltas.drop(columns=to_drop)

In [238]:
cols_means_and_layer_deltas = [
    "surface_mean","thermocline_mean","mid_mean","deep_mean",
    "delta_surface_thermo","delta_thermo_mid","delta_mid_deep"
]

In [239]:
df_targets_reduced = pd.concat([df_targets[cols_means_and_layer_deltas], df_deltas], axis=1)

In [240]:
df_targets_reduced

,surface_mean,thermocline_mean,mid_mean,deep_mean,delta_surface_thermo,delta_thermo_mid,delta_mid_deep,delta_Depth_36_01_m_Depth_42_1_m,delta_Depth_42_1_m_Depth_37_02_m,delta_Depth_37_02_m_Depth_48_2_m,...,delta_Depth_47_19_m_Depth_49_22_m,delta_Depth_50_23_m_Depth_51_25_m,delta_Depth_53_28_m_Depth_55_31_m,delta_Depth_58_36_m_Depth_59_38_m,delta_Depth_60_39_m_Depth_61_41_m,delta_Depth_62_43_m_Depth_0_44_m,delta_Depth_63_44_m_Depth_1_46_m,delta_Depth_64_46_m_Depth_65_47_m,delta_Depth_2_48_m_Depth_3_49_m,delta_Depth_67_51_m_Depth_68_52_m
time,,,,,,,,,,,,,,,,,,,,,
2008-06-01 00:00:00,-84.865020,-90.356332,-79.111001,-77.420633,5.491311,-11.245331,-1.690368,-4.867842,3.177964,-6.201336,...,-0.951183,-0.480878,0.945183,-0.437867,0.109024,44.165379,34.692523,0.382614,-3.525756,0.478965
2008-06-01 01:00:00,-84.412781,-87.270549,-74.748056,-77.029018,2.857768,-12.522493,2.280962,-2.842520,2.045075,-4.404876,...,-0.683431,1.285151,1.337260,0.549411,0.858817,34.420156,26.240210,1.458296,-4.862033,-0.362970
2008-06-01 02:00:00,-83.106595,-83.880946,-74.618047,-75.519485,0.774351,-9.262899,0.901438,-0.329129,-0.000556,-0.869446,...,-0.461685,0.352165,3.457144,-0.300872,-0.442072,33.486390,21.098568,-0.094719,-1.590802,-0.752570
2008-06-01 03:00:00,-78.518740,-76.781582,-72.792875,-72.387967,-1.737158,-3.988707,-0.404908,0.322912,-1.035124,0.935993,...,0.149657,2.013565,0.687207,-0.712729,-0.022503,22.668052,13.249657,0.961574,-2.054841,-1.773011
2008-06-01 04:00:00,-72.923967,-71.521430,-70.100220,-71.820724,-1.402537,-1.421210,1.720504,-2.224592,0.938189,0.094963,...,1.388229,0.510200,-0.671261,0.504688,0.576115,12.138705,1.774831,-0.846492,-0.674198,1.445063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-06-15 19:00:00,-75.604709,-77.951074,-74.322794,-72.064887,2.346364,-3.628279,-2.257907,0.695060,-0.571639,-1.074224,...,-0.652274,0.488329,-0.555591,0.622085,1.328831,9.906752,-0.152472,0.104977,-0.998375,-0.322744
2010-06-15 20:00:00,-75.170927,-77.495251,-75.060387,-72.356982,2.324324,-2.434864,-2.703405,-1.032655,1.429077,-1.293783,...,0.103891,-0.804136,-1.118261,0.526762,0.846343,7.231151,0.521059,0.351405,-1.392101,-0.815956
2010-06-15 21:00:00,-75.287598,-77.770896,-74.907789,-73.010439,2.483298,-2.863108,-1.897350,-1.084522,1.280939,-2.029877,...,-0.812786,0.076518,-0.431384,-0.061656,1.064470,10.270341,-1.579105,0.201892,-0.163872,0.303107
2010-06-15 22:00:00,-74.377888,-77.315112,-74.334194,-72.723870,2.937224,-2.980918,-1.610324,-2.715921,2.954515,-3.700794,...,-0.092826,-0.335131,-0.250639,1.017084,0.894323,9.430113,-4.584610,0.760807,0.019246,0.579543
2010-06-15 23:00:00,-74.795223,-76.039845,-73.716589,-72.610047,1.244622,-2.323256,-1.106541,-0.835341,0.954485,-1.433271,...,-0.474754,-0.071804,0.786986,0.501564,0.759613,6.068314,-4.333468,0.424222,0.554974,-0.405599

In [241]:
df = df_env_all.join(df_targets_reduced, how="inner")
df

,Deloyment Number,Absolute Salinity Averaged Data,Practical Salinity Averaged Data,Temperature Averaged Data,Potential Temperature 0 db Averaged Data,Density Averaged Data,Sigma t Averaged Data,Sigma theta 0 dbar Averaged Data,Pressure Averaged Data,Pressure leveled Averaged Data,...,delta_Depth_47_19_m_Depth_49_22_m,delta_Depth_50_23_m_Depth_51_25_m,delta_Depth_53_28_m_Depth_55_31_m,delta_Depth_58_36_m_Depth_59_38_m,delta_Depth_60_39_m_Depth_61_41_m,delta_Depth_62_43_m_Depth_0_44_m,delta_Depth_63_44_m_Depth_1_46_m,delta_Depth_64_46_m_Depth_65_47_m,delta_Depth_2_48_m_Depth_3_49_m,delta_Depth_67_51_m_Depth_68_52_m
time,,,,,,,,,,,,,,,,,,,,,
2008-06-01 00:00:00,7.0,30.9941,30.8450,8.3695,8.3603,1024.3963,23.9598,23.9611,95.2627,96.4604,...,-0.951183,-0.480878,0.945183,-0.437867,0.109024,44.165379,34.692523,0.382614,-3.525756,0.478965
2008-06-01 01:00:00,7.0,30.9796,30.8306,8.3567,8.3475,1024.3863,23.9503,23.9516,95.1492,96.3469,...,-0.683431,1.285151,1.337260,0.549411,0.858817,34.420156,26.240210,1.458296,-4.862033,-0.362970
2008-06-01 02:00:00,7.0,30.9865,30.8375,8.3635,8.3543,1024.3903,23.9548,23.9561,95.0541,96.2518,...,-0.461685,0.352165,3.457144,-0.300872,-0.442072,33.486390,21.098568,-0.094719,-1.590802,-0.752570
2008-06-01 03:00:00,7.0,30.9946,30.8455,8.3708,8.3616,1024.3955,23.9600,23.9613,95.0384,96.2361,...,0.149657,2.013565,0.687207,-0.712729,-0.022503,22.668052,13.249657,0.961574,-2.054841,-1.773011
2008-06-01 04:00:00,7.0,31.0197,30.8705,8.3909,8.3816,1024.4125,23.9767,23.9780,95.1294,96.3271,...,1.388229,0.510200,-0.671261,0.504688,0.576115,12.138705,1.774831,-0.846492,-0.674198,1.445063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-06-15 19:00:00,11.0,30.7789,30.6309,9.0204,9.0109,1024.1244,23.6959,23.6974,93.7510,94.0046,...,-0.652274,0.488329,-0.555591,0.622085,1.328831,9.906752,-0.152472,0.104977,-0.998375,-0.322744
2010-06-15 20:00:00,11.0,30.7700,30.6220,9.0203,9.0108,1024.1166,23.6890,23.6904,93.5674,93.8210,...,0.103891,-0.804136,-1.118261,0.526762,0.846343,7.231151,0.521059,0.351405,-1.392101,-0.815956
2010-06-15 21:00:00,11.0,30.7731,30.6252,9.0211,9.0116,1024.1195,23.6913,23.6927,93.6822,93.9359,...,-0.812786,0.076518,-0.431384,-0.061656,1.064470,10.270341,-1.579105,0.201892,-0.163872,0.303107
2010-06-15 22:00:00,11.0,30.7476,30.5997,9.0172,9.0076,1024.1020,23.6720,23.6735,94.0725,94.3262,...,-0.092826,-0.335131,-0.250639,1.017084,0.894323,9.430113,-4.584610,0.760807,0.019246,0.579543
2010-06-15 23:00:00,11.0,30.7542,30.6063,9.0186,9.0090,1024.1092,23.6769,23.6784,94.5882,94.8419,...,-0.474754,-0.071804,0.786986,0.501564,0.759613,6.068314,-4.333468,0.424222,0.554974,-0.405599

In [242]:
df.isna().any()

 Deloyment Number                             False
 Absolute Salinity Averaged Data              False
 Practical Salinity Averaged Data             False
 Temperature Averaged Data                    False
 Potential Temperature 0 db Averaged Data     False
                                              ...
delta_Depth_62_43_m_Depth_0_44_m              False
delta_Depth_63_44_m_Depth_1_46_m              False
delta_Depth_64_46_m_Depth_65_47_m             False
delta_Depth_2_48_m_Depth_3_49_m               False
delta_Depth_67_51_m_Depth_68_52_m             False
Length: 230, dtype: bool

In [243]:
na_cols = df.isna().any()
print(na_cols[na_cols].index.tolist())

[]

In [244]:
df.to_csv('FeatureandTargetZooplanktondata2008_2010.csv')